<h1>Sobre</h1>
<section class="SobreIeee">
  <div class="container">
    <div class="row justify-content-center" style="margin-top: 60px;">
      <div class="col-6">
        <h6>O IEEE é a maior sociedade técnica profissional do
        mundo dedicada à promoção da inovação tecnológica e a
        excelência para o benefício da humanidade.</h6>
        <div class="d-grid gap-3 col-1 mx-auto" style="margin-top: 60px;">
          <button class="btn btn-primary rounded-pill" type="button">Button</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cards">
  <div class="card-group" style="margin-top: 60px;">
    <div class="card text-center">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">O IEEE</h3>
        <p class="card-text">
          O IEEE, uma associação dedicada ao avanço da inovação e
          da excelência tecnológica em benefício da humanidade, é a
          maior sociedade profissional técnica do mundo. Ele foi projetado
          para atender profissionais envolvidos em todos os aspectos dos
          campos elétrico, eletrônico e de computação e áreas relacionadas da
          ciência e tecnologia subjacentes à civilização moderna.
        </p>
        <button class="btn btn-primary rounded-pill" type="button">
          Saiba mais
        </button>
      </div>
    </div>
    <div class="card text-center">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Visão</h3>
        <p class="card-text">
          Ser essencial para a comunidade técnica mundial e para os
           profissionais técnicos em todas partes, e ter reconhecimento
           mundial por suas contribuições para a tecnologia e para os
           profissionais técnicos na melhoria das condições mundiais.
        </p>
        <button class="btn btn-primary rounded-pill" type="button">
          Saiba mais
        </button>
      </div>
    </div>
    <div class="card text-center">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Missão</h3>
        <p class="card-text">
          O objetivo principal do IEEE é fomentar a inovação tecnológica e
           a excelência para o benefício da humanidade.
        </p>
        <button class="btn btn-primary rounded-pill" type="button">
          Saiba mais
        </button>
      </div>
    </div>
  </div>
</section>

<section class="ramo text-center">
  <div class="container">
    <div class="row" style="margin-top: 60px;">
      <h2>Ramo Estudantil</h2>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-8">
        <p>
          Ramo Estudantil IEEE UERJ é a entidade representativa do IEEE
           na Universidade do Estado do Rio de Janeiro. Fundado em 2004,
            tem como missão difundir a identidade do IEEE dentro da
            universidade, contribuir para o desenvolvimento
            tecnológico-científico da comunidade acadêmica e agregar
            valor à formação profissional de seus membros.
        </p>
        <p>
          Entre suas atividades estão a promoção de eventos técnicos, realização de projetos (acadêmicos, técnicos e humanitários), cursos, treinamentos, workshops e atividades externas.
        </p>
      </div>
      <div class="col-4">
        <img src="https://edu.ieee.org/br-uerj/wp-content/uploads/sites/98/2019/08/logo-ramo-branco.png" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</section>

<section class="capitulos text-center">
  <div class="container">
    <div class="row" style="margin-top: 60px;">
      <h2>Capítulos</h2>
    </div>
    <div class="row" style="margin-top: 20px;">
      <p>
        Um Capítulo é uma subunidade técnica de
        uma região ou de um conselho geográfico. Os
        Capítulos são responsáveis por atividades e projetos
        técnicos em um determinado campo, que sua Sociedade
        representa. Também capacitam seus voluntários e
        trabalham em conjunto com o Ramo para a realização de eventos.
      </p>
      <p>
        O Ramo contempla capítulos da Robotic
        and Automation Society (RAS), Power and Energy Society
        & Industry Applications Society (PES & IAS), Computer Society
        (CS) e os grupos de afinidades Women in Engineering (WiE) e
        Special Interest Group on Humanitarian Technology (SIGHT).
      </p>
    </div>
  </div>
  <div class="card-group" style="margin-top: 60px;">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">
          IEEE Power and Energy Society & IEEE
          Industry Applications Society
          (PES & IAS)
        </h4>
        <p class="card-text">
          A Sociedade de Potência e de Energia é a mais
          antiga do IEEE que abrange pesquisa e desenvolvimento no
          uso seguro, sustentável e econômico da energia elétrica.
        </p>
        <img src="..." class="card-img-top" alt="...">
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">
          IEEE Robotics and
          Automation Society (RAS)
        </h4>
        <p class="card-text">
          A Sociedade da Robótica e Automação apoia o
          desenvolvimento nos campos da robótica e automação,
          incluindo o avanço da teoria e da prática.
        </p>
        <img src="..." class="card-img-top" alt="...">
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">
          IEEE Computer Society (CS)
        </h4>
        <p class="card-text">
          A Sociedade da Computação é a principal fonte de informação,
          inspiração e colaboração nas áreas da Ciência e a Engenharia
          da Computação.
        </p>
        <img src="..." class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</section>

<section class="grupoAF text-center">
  <div class="container">
    <div class="row" style="margin-top: 60px;">
      <h2>Grupos de Afinidade</h2>
    </div>
    <div class="row" style="margin-top: 20px;">
      <p>
        O principal objetivo é a união e colaboração de membros
        que tenham um ideal em comum. O desenvolvimento de projetos e
        atividades relacionadas ao tema do Grupo de Afinidade é uma excelente
         forma de cumprir os propósitos do IEEE.
      </p>
    </div>
  </div>
  <div class="card-group" style="margin-top: 60px;">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">
          IEEE Women in Engineering (WIE)
        </h4>
        <p class="card-text">
          O WIE – Women in Engineering – é um grupo de afinidade
          do IEEE, uma das maiores organizações profissionais
          internacionais, dedicada a promover as mulheres engenheiras
           e cientistas e inspirar as garotas no mundo todo a seguir
           a carreira na engenharia.
        </p>
        <img src="..." class="card-img-top" alt="...">
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">
          IEEE Special Interest Group on
          Humanitarian Technology (SIGHT)
        </h4>
        <p class="card-text">
          O IEEE SIGHT é uma rede global de grupos que
           identificam e tratam dos problemas locais aplicando
           suas habilidades técnicas e fazendo parceria com as
           comunidades locais.
        </p>
        <img src="..." class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</section>

<section class="participar" style="margin-bottom: 20px;">
  <div class="container text-center">
    <div class="row" style="margin-top: 60px;">
      <h2>Como Participar</h2>
    </div>
    <div class="row justify-content-end" style="margin-top: 20px;">
      <div class="col-6">
        <h5>Vantagens de ser Membro</h5>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-6 text-center">
      <p>
        Você sendo membro ou voluntário poderá participar
        do IEEE e de suas atividades!
      </p>
      <p>
        Como voluntário, você poderá realizar diversas operações
        do seu ramo estudantil e participar de eventos realizados
         por outros ramos.
      </p>
      <p>
        Para você ser membro do IEEE, ou seja fazer parte do IEEE
        global, é necessário pagar uma taxa anual e assim ter acesso
        ao material digital e impresso como revistas, artigos, vídeos
        de conferências, além de ter contato com profissionais da área
        e discussões técnicas, descontos em congressos técnicos,
        possibilidade de aplicar para auxílio em eventos externos e
        projetos.
      </p>
      <button class="btn btn-primary rounded-pill" type="button">
        Saiba mais
      </button>
    </div>
    <div class="col-6">
      <li>Networking com profissionais do IEEE e discussões técnicas</li>
      <li>Será associado(a) à maior organização profissional do mundo</li>
      <li>Descontos em eventos e congressos técnicos</li>
      <li>E-mail com domínio @ieee.org + 30GB no Drive</li>
      <li>Possibilidade de aplicar para auxílio em eventos externos e projetos</li>
      <li>Acesso a publicações e revistas (IEEE Spectrum; IEEE Potentials)</li>
      <li>Bolsas, concursos e prêmios</li>
      <li>Produtos IEEE (IEEE.tv; Education Partners Program; IEEE
        XploreDigital Library; IEEE JobSite; IEEE Mentoring Connection;
         myIEEE)</li>
    </div>
  </div>
</section>

<hr style="margin-bottom: 50px;">
